body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Warna latar belakang yang disesuaikan */
}

.google-play-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #030504; /* Warna latar belakang tombol */
    color: #ffffff; /* Warna teks */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-play-button img {
    width: 30px; /* Sesuaikan ukuran ikon Google Play */
    margin-right: 10px;
}

.google-play-button:hover {
    background-color: #357AE8; /* Warna latar belakang tombol saat dihover */
}